body {
  font-family: Arial, sans-serif;
  background-color:#f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 12px rgba(0,0,0,0.2);
  width: 300px;
}

#display {
  width: 85%;
  padding: 20px;
  font-size: 50px;
  margin-bottom: 10px;
  text-align: right;
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: #ccc
 
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  padding: 15px;
  font-size: 1.2em;
  border: none;
  background-color: #eee;
  border-radius: 50px;
  margin: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ddd;
}

.zero {
  grid-column: span 2;
}

.top-center {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.top-center button {
  padding: 10px 25px;
  font-size: 16px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.top-center {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

    