
    body {
      font-family: Arial, sans-serif;
      background: #d4edda;
    }

    .box {
      width: 400px;
      margin: 100px auto;
      background: white;
      padding: 30px;
      text-align: center;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    h2 {
      color: #28a745;
    }

    
    .btn-center {
      display: flex;
      justify-content: center; /* horizontal center */
      margin-top: 20px;
    }
       
    button {
      padding: 10px 25px;
      font-size: 16px;
      background: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
